.body{
background-image: url(bg2.jpeg)
}
.first-card{
    margin-left: 100px;
    width:500px;
    height:300px;
    margin-top: 30px;
    float:left;
}
.second-card{
    margin-left: 100px;
    width:500px;
    height:300px;
    margin-top: 30px;
    float:left;
}
.third-card{
    margin-left: 100px;
    width:500px;
    height:300px;
    margin-top: 30px;
    float:left;
}
.fourth-card{
    margin-left: 100px;
    width:500px;
    height:300px;
    margin-top: 30px;
    float:left;
}
.fifth-card{
    margin-left: 100px;
    width:500px;
    height:300px;
    margin-top: 30px;
    float:left;
}.sixth-card{
    margin-left: 100px;
    width:500px;
    height:300px;
    margin-top: 30px;
    float:left;
}
.seventh-card{
    margin-left: 100px;
    width:500px;
    height:300px;
    margin-top: 30px;
    float:left;
}
.eighth-card{
    margin-left: 100px;
    width:500px;
    height:300px;
    margin-top: 30px;
    float:left;
}

.seventh-card:hover{
    cursor: pointer;-ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }


  .sixth-card:hover{
    cursor: pointer;-ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }
  .first-card:hover{
    cursor: pointer;-ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }
  .fourth-card:hover{
    cursor: pointer;-ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }
  .fifth-card:hover{
    cursor: pointer;-ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }


  .eighth-card:hover{
    cursor: pointer;-ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }
  .second-card:hover{
    cursor: pointer;-ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }
  .third-card:hover{
    cursor: pointer;-ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }
